<!--

    JTestPlatform is a client/server framework for testing any JVM implementation.

    Copyright (C) 2008-2010  Fabien DUMINY (fduminy at jnode dot org)

    JTestPlatform is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation; either version 3
    of the License, or (at your option) any later version.

    JTestPlatform is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

-->
<configuration>
    <platforms>
        <platform cpu="coreduo" smp="1"/>
        <platform cpu="coreduo" smp="2"/>
        <platform cpu="coreduo" smp="4"/>
        <platform cpu="athlon" smp="1"/>
        <platform cpu="athlon" smp="2"/>
        <platform cpu="athlon" smp="4"/>
        
        <platform cpu="phenom" smp="4" bits="64"/>
        <platform cpu="core2duo" smp="4" bits="64"/>
    </platforms>
    excluding.filters=awt,swing,Thread,java.net,Object.oom

watchDogPollInterval=30000
    
    <domains min="1", max="2">
        <factories>
            <factory type="libvirt">
                <connection uri="qemu:///system"/>
                <connection uri="qemu:///session"/>
            </factory>
        </factories>
    </domains>
    
    <tests>
        <frameworks>
            <framework type="mauve" embedded-list="true"/>
        </frameworks>
    </tests>
</configuration>


